.gallery-navbar {
  background-image: url(../img/navbar-bg.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  padding: 17px;
  border: 2px solid black;
  ul {
    text-decoration: none;
    display: flex;
    li {
      list-style: none;
      margin-left: 50px;
      &:hover {
        color: white;
      }
      &:first-child {
        margin-left: -70px;
      }
      &:last-child {
        color: #DC7725;
      }
    }
  }
  span {
    &:hover {
      color: white;
    }
  }
}

.image-gallery {
  display: flex;
  flex-flow: wrap;
  height: 820px;
  @media #{$brk-medium} {
    height: 1678px;
  }
  @media #{$brk-small} {
    height: 1755;
    width: 100%;
  }
}

.image-gallery {
  .bg-1, .bg-2, .bg-3, .bg-4, .bg-5, .bg-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .images {
      transition-duration: 250ms;
      width: 90px;
      height: 90px;
      padding: 20px;
      border-radius: 100%;
      background-color: rgba(4, 4, 4, 0.5);
      margin: auto;
      display: flex;
      justify-content: center;
      img {
        height: 40px;
        width: 40px;
        margin-top: 3px;
      }
      &:hover {
        transform: scale(1.5);
      }
    }
    hr {
      width: 50px;
      height: 5px;
      margin-left: 30px;
      margin-bottom: 10px;
      margin-top: -60px;
      background-color: #DC7725;
      border: none;
    }
    h2 {
      margin-bottom: 30px;
      margin-left: 30px;
      font-size: 20px;
    }
  }
}


// .row1, .row2 {
//   height: 400px;
//   width: 100%;
// }
