.row {
  @include span-columns(12);
}

.outer-container {
  .bg-1 {
    @include span-columns(12);
    @media #{$brk-medium} {
      @include span-columns(3 of 12);
      @include outer-container(100%);
      width: 240px;
      margin: 0;
    }
  }
  .bg-2 {
    @include span-columns(12);
    @media #{$brk-medium} {
      @include span-columns(3 of 12);
      @include outer-container(100%);
      width: 240px;
      margin: 0;
    }
  }
  .bg-3 {
    @include span-columns(12);
    @media #{$brk-medium} {
      @include span-columns(3 of 12);
      width: 240px;
      margin: 0;
    }
  }
  .bg-4 {
    @include span-columns(12);
    @media #{$brk-medium} {
      @include span-columns(3 of 12);
      width: 240px;
      margin: 0;
    }
  }
  @media #{$brk-large} {
    @include outer-container(100%);
    margin: auto;
  }
}
