// reset
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: white;
}

// background images
.bg-1 {
  background-image: url(../img/raft.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 100%;
  }
}

.bg-2 {
  background-image: url(../img/tent.jpg);
  width: 25%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 50%;
  }
}

.bg-3 {
  background-image: url(../img/backpack.jpg);
  width: 25%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 50%;
  }
}

.bg-4 {
  background-image: url(../img/canoe.jpg);
  width: 25%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 50%;
  }
}

.bg-5 {
  background-image: url(../img/creek.jpg);
  width: 25%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 50%;
  }
}

.bg-6 {
  background-image: url(../img/home.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
  @media #{$brk-medium} {
    width: 100%;
  }
}








//middle content
