// reset
* {
  box-sizing: border-box;
  margin: 0;
}







.bg-1 {
  @include transparent-bg1;
}

// .bg-2 {
//   @include transparent-bg2;
// }
//
// .bg-3 {
//   @include transparent-bg3;
// }
//
// .bg-4 {
//   @include transparent-bg4;
// }
