// reset
* {
  box-sizing: border-box;
  margin: 0;
}

// background images
.bg-1 {
  @include transparent-bg-1;
}

.bg-2 {
  @include transparent-bg-2;
}

.bg-3 {
  @include transparent-bg-3;
}

.bg-4 {
  @include transparent-bg-4;
}

//middle of body

.play-send > img, .play-send > p {
  display: inline-block;
}

.play-send {
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  opacity: 0.5;
}
